


.jumbotron {
  background-color: white !important;
}

.navbar {
  padding: .8rem;
  background-color: #5c3ac5 !important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: white ! important;
}

.nav-link {
  font-size: 1.0em ! important;
}

footer {
  background-color: #3f3f3f;
  color: #dedede;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #dedede;
  width: 75%;
  margin-bottom: 1rem;
  margin-top: .8rem;
}

#map-container-google-1 iframe {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}