@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:wght@200;400&family=Raleway:wght@300&display=swap');


.display-4 {
  font-family: 'Nunito', sans-serif;
}
.lead {
  font-family: 'Nunito', sans-serif;
}

.shr {
  width: 100px;
  background-color: #252525 ! important;
}

.jumbotron {
	background-color: white;
}
hr {
	background-color: #5c3ac5;
}

footer{
  background-color: #252525;
}
footer p {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.footer_title {
  padding-top: 30px;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}

.small_hr {
  width: 50px;
  max-width: 50px;
  color: white;
  background-color: white ! important;
}

hr.light {
  border-top: 1px solid #dedede;
  width: 75%;
  margin-bottom: 1rem;
  margin-top: .8rem;
}
.navbar {
  padding: .8rem;
  background-color:#252525 !important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: white ! important;
}

.nav-link {
  font-size: 1.0em ! important;
}