@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:wght@200;400&family=Raleway:wght@300&display=swap');

body, html {
    height: 100%;
}
.modal-title {
  font-family: 'Nunito', sans-serif;
}

#time input {
  color: #4ef76c !important;
}

.btn >.btn-primary button {
  color: white !important;
  background-color: teal !important;
}

.control-label {
  font-family: 'Nunito', sans-serif;
}

#inner_row {
  background-color: white;

}
#inner_data p {
  background-color: white;
  color: black;
}

#remove_me {
  color: white;

}

#inner_data {
  background-color: white ! important;
}

#check_app_cancell {
  background-color: whitesmoke ! important;
  color: black ! important;
  border-color: black ! important;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden; }


.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/bg_1.jpg');

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#covid {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/covid_2.jpg');
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Nunito', sans-serif;
}


/*Secondary Color*/

.btn-secondary {
  background-color:  #f54dd6c7 !important;
  color: white !important;
  border-color: dimgrey !important
}
.btn-secondary:hover {
  background-color: #f286de3b ! important;
}
/*End of Secondary Color*/

/*Primary Button*/
.btn-primary:hover {
  background-color: #f54dd6c7 ! important;
}
.btn-primary {
  background-color: #f74ed8c4 ! important;
  color: white ! important;
  background: #f286de8f !important;
  border-color: white;
}
/* End Primary Button*/

/*Button Group*/
.btn-group-vertical {
  background-color: #f74ed9 ! important;
  color: white;
}
.btn-group {
  border-radius: 0;  
}

.btn-group:hover {
  background-color:#f74ed87c !important;
}

/*EndButton Group*/

#time_title_message {
  border-color: white ! important;
  
}
.form-control:valid {
  background-color: #f74ed9 ! important;
}
/*HR */
.l-hr {
  max-width: 500px;
  background-color: white ! important;
  color: white;
}
.w-hr {
  color: white;
}
.bl_hr {
  width: 50px;
  max-width: 50px;
  color: black;
  background-color: black ! important;
}

.small_hr {
  width: 50px;
  max-width: 50px;
  color: white;
  background-color: white ! important;
}
/*End of HR*/

input[type=text] {
  background-color: transparent ! important;
  border: 0;
  box-shadow: none;
  color: white ! important;
}



input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white ! important;
    font-family: 'Nunito', sans-serif;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white ! important;
   opacity:  1;
   font-family: 'Nunito', sans-serif;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white ! important;
   opacity:  1;
   font-family: 'Nunito', sans-serif;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white ! important;
   font-family: 'Nunito', sans-serif;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color: white ! important;
   font-family: 'Nunito', sans-serif;
}

input::placeholder { /* Most modern browsers support this now. */
   color: white ! important;
   font-family: 'Nunito', sans-serif;

}


input {
  border: 0 ! important;
  box-shadow: none;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*Navbar*/
.navbar {
  padding: .8rem;
}

.navbar-toggler i {
  color: gray;
}

.navbar > .navbar-inner {
    background:transparent ! important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: black ! important;
  font-family: 'Nunito', sans-serif;
}

/*End of navbar*/


/*Text options*/
.mb-4 {
  font-size: 150%;
  font-weight: bold;
  padding-top: 30px;
  font-family: 'Nunito', sans-serif;

}

.mb-3 {
  padding-top: 5px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;

}

.header {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Nunito', sans-serif;

}

.price {
  color: #f74ed9;
  font-size: 22px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}

.sub_header {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;

}
.headthin {
  font-size: 21px;
  color: white;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}

.subthin {
  font-size: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.subthindark {
  font-size: 23px;
  color: black;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
}

.footer_title {
  padding-top: 30px;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}

p {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}
.apt_title {
  font-family: 'Nunito', sans-serif;
  color: white ! important;
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.adr {
  font-family: 'Nunito', sans-serif;
  color: white ! important;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 0px;
}
.sub_header {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;

}


.card-title {
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

.address{
  font-size: 17px;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.header_title {
  font-size: 25px;
  padding-bottom: 20px;
  color: white;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
}
/*End of text options*/


#appointments{
  background-color: #f74ed9;
}
.jumbotron {
  background-color: white ! important;
}

.appointment-info{
  background-color: #f74ed9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.appointment-info {
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 5px 71px -27px rgba(0, 0, 0, 0.21); 
  margin-top: 50px;
  margin-bottom: 50px;
}

#carrier-id {
  background-color: transparent;
  border: 0;
}
#employee-id {
  background-color: transparent;
  border: 0;
}

.list-group-item{
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}

select {
  border: none;
  color: white ! important;
  background: rgba(255, 255, 255, 0.1) ! important;
  font-size: 20px;
  font-weight: lighter;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.padd {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  font-size: 25px;
  font-family: 'Nunito', sans-serif;

}

.ftco-partner {
  padding: 2em 0;
  background-color: white;
}
/*Footer*/
footer{
  background-color: #252525;
}
footer p {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  color: white;
}
/*End of header*/


.f-1 {
  background-color: white;
}

