@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Montserrat:wght@100&family=Nunito:wght@200;400&family=Raleway:wght@300&display=swap');

html {
	background-color: #ffffff;
}

.navbar-expand-md {
	background: #ECECEC! important;
}


.button-holder {
  margin: 0 auto;
  align-self: center;
  text-align: center;
  background-color: #ffffff;
}
.button-holder button {
	width: 300px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #4F6979;
	border-color: #427493;
}


.button-holder button:hover {
	color: #FFFFFF;
	background-color: #5DACC0;
}

.table.table-hover {
	width: 100%;
}

.main_table {
  display: flex;
  background-color: #ECECEC;
  margin-top: 10px;
}
.main_table table {
	margin: 0 auto;
	align-self: center;
	text-align: left;
	width: 100%;
	background-color: #FFFFFF;
}



.jumbotron {
	background-image: url("../static/img/user_interface.jpg");
	background-size: cover;
	border-radius: 0 !important;
	margin-bottom: 0px;
	height: 100%;

}

tr th {
	font-family: 'Nunito', sans-serif;
}